<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

 <meta charset="utf-8">
 <title>Plant Tracker</title>
 <link rel="stylesheet" type = "text/css" href="{% static 'css/login.css' %}">
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>


<body style="background-color: lightgreen;">

 <div class="title">
   <h1 style="text-align:center;">Welcome to the Plant Tracker!</h1>
 </div>


 <div class="page">
   <h2 style="text-align:center;">Log In</h2>
 </div>

    <form action="login" method = "post">
        <div class="form-group">
          <div style="text-align: center;">
    <label for="username">Email:</label>
    <input type="text" class="textbox" id="username" name="username" aria-describedby="emailHelp">
  </div>
</div>
  <div class="form-group">
    <div style="text-align: center">
    <label for="password">Password:</label>
    <input type="password" class="textbox" id="password" name="password">
  </div>
</div>
  <div style="text-align: center;">
    <button type="submit" class="btn btn-dark">Sign in</button>
  </div>
  

    </form>
    <div style="text-align: center;">
    <p><a href="register">Register here!</a></p>
  </div>




</body>

</html>
