<!doctype html>

{% load static %}

<html lang="en">

<head>

 <meta charset="utf-8">
 <title>Plant Tracker</title>
 <link rel="stylesheet" type = "text/css" href="{% static 'css/login.css' %}">
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>


<body style="background-color: lightgreen;">

 <div class="title">
   <h2 style="text-align:center;">Log In</h2>
 </div>

<br><br>
<div style="text-align:center;">
  <form>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <input type="submit" value="Sign In">
</div>




</body>

</html>
