.navbar{
    padding: 0.5em 0.8em 0.8em 0.8em;
    
}
.op1{
    /* padding: 2em 2em 2em 2em; */
    margin: 0.3em ;
    
}

.container-fluid{
background-color: hotpink;
}

d-flex{
    background-color: hotpink;
}

.k1{
    background-color: burlywood;
} 

.img1{
    width: 40%;
    height: 40%;
}