.navbar{
    padding: 0.5em 0.8em 0.8em 0.8em;
    
}
.op1{
    /* padding: 2em 2em 2em 2em; */
    margin: 0.3em ;
    
}

.container{
    margin-left: auto;
    margin-right: auto;
background-color: hotpink;
}

d-flex{
    background-color: hotpink;
}

.k1{
    background-color: burlywood;
} 

.img1{
    padding-left:;
    paddom
    width: 15%;
    height: 15%;
}