<!-- this is the page where you can see all of your plants -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" type = "text/css" href='../static/css/myplants.css'>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">HYO_PlantTracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link  op1" href="#">Main Menu <span class="sr-only"></span></a>
        <a class="nav-item nav-link op1 " href="#">My Plants</a>
        <a class="nav-item nav-link op1" href="#">Add a Plant</a>
      </div>
    </div>
  </nav>
  <div class ="container-fluid">

    <div class="d-flex flex-xl-column bd-highlight mb-3 jj">
        <div class="p-2 bd-highlight k1 justify-content-between
        ">
        <img src="data:image/svg+xml;charset=UTF-8,<svg%20width%3D"200"%20height%3D"200"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%20200%20200"%20preserveAspectRatio%3D"none"><defs><style%20type%3D"text%2Fcss">%23holder_173abacee6d%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20<%2Fstyle><%2Fdefs><g%20id%3D"holder_173abacee6d"><rect%20width%3D"200"%20height%3D"200"%20fill%3D"%23777"><%2Frect><g><text%20x%3D"74.4296875"%20y%3D"104.5609375">200x200<%2Ftext><%2Fg><%2Fg><%2Fsvg>" class="rounded float-left" alt="...">

    
    </div>
        <div class="p-2 bd-highlight k1 justify-content-center
        ">Flex item 2</div>
        <div class="p-2 bd-highlight k1 justify-content-center
        ">Flex item 3</div>
        <div class="p-2 bd-highlight k1 justify-content-center
        ">Flex item 3</div>
        <div class="p-2 bd-highlight k1 justify-content-center
        ">Flex item 3</div>
    </div>
</div>
</body>

</html>